* {
  box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}
.wrapper {
    display: grid;
    height: 100%;
    background-color: #f1edee;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
}
header {
    grid-column: 1 / -1;
    background-color: #db5461;
}
main {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 10px;
}
footer {
    grid-column: 1 / -1;
    background-color: #db5461;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}
footer li {float: right}
footer li a {
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px
}


.card {
    border: 1px solid #d7cccf;
    border-radius: 5px;
    background-color: #f1edee;
    margin: 0 auto;
    padding: 10px;
    width: 95%;
}

.card div{
    display: inline-block;
}
.card h3 {
    background-color: #8aa29e;
    padding: 5px;
    border-radius: 5px;
    margin-top: 0;
}
.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.card li + li {
    margin-top: 1em;
}
.card fieldset {
    border: 1px solid #d7cccf;
}
.card fieldset li + li {
    margin-top: 0.5em;
}

label {
    display: inline-block;
    text-align: left;
    width: 12em;
}
button,
input,
select {
    display: inline-block;
    width: 12em;
    align: center;
}

.combobox {position: relative; display: inline-block}
.combobox select {width: 12em; display: inline}
.combobox input {position: absolute; width: calc(100% - 1.5em)}
