<!doctype html>

{% extends "layout.html" %}

{% block content %}
<div class="card" id="about">
    <h3>About</h3>
    <p>
        DGet is a command line tool and web application for calculating molecule deuteration, written in Python.
        Deuteration is calculated from high-resolution mass spectrometer data by de-convolving the
        expected spectra of the fully deuterated molecule.
        The current version of DGet is <code>{{ version }}</code>.
        The current version of the web application is <code>{{ web_version }}</code>.
    </p>
    <p>
        To use the DGet web application, enter the formula of a deuterated compound and upload a mass spectra text file.
        Once you press <em>Get Deuteration</em> the fit will be plotted and results displayed.
        Points used in the deuteration % calculation are shown in red.
    </p>
    <p>
        You can install DGet as a command line tool using pip, <code>pip install dget</code>.
    </p>
</div>
<div class="card" id="usage">
    <h3>Usage</h3>
    <ul>
    <li><b>Formula</b> - molecular formula of the fully deuterated sample, see <a href="https://github.com/cgohlke/molass">molmass</a> for more details.</li>
    <li><b>Adduct</b> - molecular species, use 'Auto' to guess the adduct with the highest intensity from the mass spectra. You can also enter a custom adduct here.</li>
    <li><b>Upload MS data</b> - DGet expects a delimited text file with at least two columns: mass-per-charge and signal/intensity values.</li>
    <li><b>MS data options</b> - the following options control how data is read from the uploaded file. DGet will try to guess options on file upload.</li>
    <li style="margin-left: 2em"><b>Delimiter</b> - text delimiter used in the data file.</li>
    <li style="margin-left: 2em"><b>Skip rows</b> - number of rows in file before data.</li>
    <li style="margin-left: 2em"><b>Mass/Signal column</b> - column in file containing the mass/signal data.</li>
    <li><b>Re-align MS data</b> - shifts data to better align with the formula's predicted mass. Please calibrate your instruments instead of using this.</li>
    <li><b>Subtract MS baseline</b> - performs baseline subtraction, calculated as the 25th percentile of the target region.</li>
    <li><b>Calculation Cutoff</b> - the lowest deuterium state to consider in the calculation. This can be passed a number to indicate a m/z, a D prefixed integer for a dueterium state (e.g. D7) or 'Auto' to be determined automatically using the first 2 states below 1 % probability.</li>
    </ul>
</div>
{% endblock %}
